<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.7.1/dist/leaflet.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.7.1/dist/leaflet.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>Agregar punto al mapa</title>
    <style>
        #mapid {height: 600px;}
    </style>
</head>
<body>
    <div id="mapid"></div>
    <form action="{{ url_for('agregar') }}" method="post">
        latitud
        <input type="text" name="latitud" id="latitud">
        longitud
        <input type="text" name="longitud" id="longitud">
        nombre
        <input type="text" name="nombre">
        <input type="submit">
    </form>
    <script>
        $.ajax({
            url: '/api/puntos',
            type: 'GET',
            success: function(data) {
                console.log(data)
                for (var i=0; i < data.length; i++ ) {
                var marker = L.marker([data[i].latitud, data[i].longitud]).addTo(mymap);
                marker.bindPopup(data[i].nombre);
                }
            }
             });
        var mymap = L.map('mapid').setView([-25.508543037561886, -54.63139827955894], 16);
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: 'Bomberos Voluntarios',
            maxZoom: 16,
        }).addTo(mymap);

        // Creamos el script que nos permita obtener los datos del punto con un click sobre el mapa
            var markerAdded = false;

            mymap.on('click', function(e){
                if (!markerAdded) {
                    var latitud = e.latlng.lat;
                    var longitud = e.latlng.lng;
                    var marker = L.marker([latitud, longitud]).addTo(mymap);
                    markerAdded = true;
                }
                var input_lng = document.getElementById("longitud");
                var input_lat = document.getElementById("latitud");
                input_lat.value = latitud;
                input_lng.value = longitud;
            })





    </script>
</body>
</html>